{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    {% tailwind_css %}
	{% include "head.html" %}
	<body class="bg-main font-sans">
		{% include "navbar.html" %}
        <div class="flex flex-wrap justify-center gap-5">
            {% for project in projectss %}
                <div class="bg-navy h-96 w-64 mt-24 rounded-md relative">
                    <h1 class="text-lightblue text-2xl font-semibold pt-5 pl-5" name="Title">{{ project.title }}</h1>
                    <p class="pl-5 pt-5 text-creme font-medium" name="Description">{{ project.description }}</p>
                    <div class="flex flex-wrap mx-5 gap-2" name="Flares">
                        {% for flare in project.flare.choices%}
                            {% if flare in project.flare%}
                                <a href="/projects/{{flare}}">
                                    <div class="h-8 w-24 mt-2 bg-main rounded-md flex items-center content-center hover:shadow-sm hover:shadow-paleorange transition-shadow duration-500">
                                        <h2 class="text-creme mx-auto">{{ flare }}</h2>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a href="{{ project.github_link }}"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#293241" class="absolute bottom-5 left-5 hover:fill-[#98C1D9] transition-colors duration-500" viewBox="0 0 16 16"><path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></svg></a>
                </div>
            {% endfor %}
        </div>
        {% include "footer.html" %}
	</body>
</html>